@import "tailwindcss" theme(static);

@import "@nuxt/ui";

@theme static {
  --font-sans: 'Google Sans';
  
  --color-unmyst-50: oklch(0.959 0.05 188.66); /* #ccfdf8 */
  --color-unmyst-100: oklch(0.918 0.11 188.3); /* #84fcf2 */
  --color-unmyst-200: oklch(0.846 0.121 188.53); /* #5ae6dc */
  --color-unmyst-300: oklch(0.776 0.112 188.52); /* #4dcdc4 */
  --color-unmyst-400: oklch(0.687 0.099 188.29); /* #41aea6 */
  --color-unmyst-500: oklch(0.592 0.085 188.93); /* #348e88 */
  --color-unmyst-600: oklch(0.499 0.072 188.74); /* #27706b */
  --color-unmyst-700: oklch(0.408 0.059 188.57); /* #1b5450 */
  --color-unmyst-800: oklch(0.322 0.046 188.5); /* #113b38 */
  --color-unmyst-900: oklch(0.23 0.034 188.51); /* #062220 */
  --color-unmyst-950: oklch(0.175 0.025 185.7); /* #031412 */
}

:root {
  --ui-bg: oklch(1 0 0);
  --ui-radius: 0.225rem;
}

.dark {
  --ui-bg: oklch(0.145 0 0);
}